@import "global";

html,
body,
#react-container {
  height: 100%;
  font-size: 85%;

  @media screen and (min-width: $break-sm) {
    font-size: 100%;
  }

  @media screen and (min-width: $break-md) {
    font-size: 115%;
  }

}

body,
#react-container,
h1, h2, h3, h4, h5,
p, td, span, div {
  margin: 0;
  padding: 0;
  border : none;
}

div.app {
  padding: .5em;
  height: calc(100% - 2em);
  background-color: $secondary-color;
  color: $contrast-color;

  display: flex;
  flex-direction: column;

  @include mainFont;
}