@import "global";

div.autocomplete {

  position: relative;

  .suggestions {
    position: absolute;
    top: 2em;
    left: 0;
    height: auto;
    max-height: 300px;
    background-color: white;
    color: $secondary-color;
    padding: 1em;
    overflow-y: scroll;
    z-index: 99;
    p {
      margin-bottom: .2em;
      &:hover {
        background-color: $secondary-color;
        color: white;
      }

      &:last-child {
        margin-bottom: none;
      }
    }

    &:empty {
      display: none;
    }
  }
}