@import "global";

div.ski-day-count {
  display: flex;
  flex-wrap: wrap;

  >span {
    position: relative;
    margin: 2em;
    @include flex-center;

    &.total-days {
      flex-basis: 100%;
      font-size: 200%;
      text-align: center;

      >span:first-child {
        left: calc(50% - 4.4em);
      }

    }

    >span:first-child {
      position: absolute;
      bottom: 2px;
      left: -8px;
      height: 1em;
      min-width: 1em;
      background-color: $secondary-color;
      color: white;
      font-weight: bold;
      padding: .7em;
      border-radius: 50%;
      border: solid 3px $contrast-color;
      @include flex-center;
    }

    &:not(:first-child) {
      flex-basis: calc(50% - 4em)
    }

    svg {
      font-size: 4em;
      margin: .2em;
    }
  }
}

div.ski-day-list {

  table {
    width: 100%;
    border: solid 1px white;

    td {
      text-align: center;
    }

    thead>tr {
      background-color: white;
      color: $secondary-color;
    }

    tbody {

      thead {
        tr>th {
          height: 3em;
        }
      }

      tbody {

      }

      tr {

        td {
          height: 2em;
          &:nth-child(3),
          &:nth-child(4) {
            width: 2em;
          }
        }


        &:nth-child(odd) {
          background-color: $primary-color;
        }

        &:nth-child(eve) {
          background-color: white;
        }

      }
    }

  }
}

form.add-day {
  width: 70%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;

  >label,
  div {
    margin: 1em 0;
  }

  label {
    @include mainFont;
    font-size: 1.5em;
  }

  input[type="text"],
  input[type="date"] {
    @include mainFont;
    font-size: 1.5em;
    padding: .25em;
    border-radius: .2em;
    outline: none
  }

  input[type="checkbox"] {
    transform: scale(2);
    margin: 0;
    padding: 0;
    margin-right: 2em;
  }

  div>label {
    position: relative;
    top: 2px;
  }

  button {
    @include mainFont;
    padding: 1em;
    color: $secondary-color;
    background-color: $contrast-color;
    font-size: 1.5em;
    border-radius: .25em;
    margin-top: 1em;
  }

}